@use "../../../node_modules/ucla-design-systems/scss/utilities/variables" as design-system-vars;

.heading {

  &-bar {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    border-left: .65rem solid design-system-vars.$ucla-gold;

    a {
      color: design-system-vars.$grey-80;
      text-decoration: underline;

      &:hover {
        color: design-system-vars.$grey-80;
        text-decoration: none;
      }
    }
  }

  &-ribbon {
    display: table; // I know this seems weird, but allows for `inline-block` type styling with `block` type line return.
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    background-color: design-system-vars.$ucla-blue;
    color: design-system-vars.$white;

    a {
      color: design-system-vars.$white;

      &:hover {
        color: design-system-vars.$white;
        text-decoration: none;
      }
    }

    &--ucla-gold {
      background-color: design-system-vars.$ucla-gold;
      color: design-system-vars.$grey-80;

      a {
          color: design-system-vars.$grey-80;

          &:hover {
            color: design-system-vars.$grey-80;
            text-decoration: none;
          }
        }
    }

  }
}
