@use '../../../node_modules/ucla-design-systems/scss/utilities/variables' as design-system-vars;

// CSS Var(s).
:root {
  --icon-external-link: url('data:image/svg+xml,\<svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path fill="%2300598C" d="M16 16L2 16L2 2L9 2V0L2 0C0.89 0 0 0.9 0 2L0 16C0 17.1 0.89 18 2 18L16 18C17.1 18 18 17.1 18 16L18 9L16 9V16ZM11 0V2L14.59 2L4.76 11.83L6.17 13.24L16 3.41L16 7H18V0L11 0Z"></path></svg>');
  --icon-internal-link: url('data:image/svg+xml,\<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="%2300598C" d="M12 20L10.575 18.6L16.175 13L4 13L4 11L16.175 11L10.575 5.4L12 4L20 12L12 20Z"/></svg>');
}

// Lists.
@mixin bulletList() {
  list-style-type: square;

  li::marker {
    color: design-system-vars.$ucla-blue;
  }
}

// List Reset.
@mixin listReset() {
  list-style: none;
  padding: 0;
  margin: 0;

  li + li {
    margin: 0
  }
}

// TODO: Decide if we are going to override design system default list style.
// ul {
//   @include bulletList();
// }

.list {

  &--bullet {
    @include bulletList();
  }

  &--pipe {
    margin: 0 0 1rem 0;

    :where(li) {
      border-right: 1px solid design-system-vars.$grey-40;
      display: inline-block;
      line-height: 1;
      margin-right: .75rem;
      padding-right: .5rem;
      margin-top: 0;

      &:last-child {
        border: 0;
      }
    }
  }

  &--link {
    @include listReset();

    li {

      a {
        border-bottom: 1px solid #e0e0e0;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        font-weight: bold;
        color: #00598c;
        cursor: pointer;

        &:visited {
          color: #00598c;
        }

        // &:after {
        //   content: '';
        //   background: var(--icon-internal-link) no-repeat;
        //   padding-right: 1.5rem;
        //   height: 1.3rem;
        // }

        // &[href^="http"]:after {
        //   background: var(--icon-external-link) no-repeat;
        // }
      }

      &:hover a {
        background-color: #0079bf;
        color: #fff;

        // &:after {
        //   filter: brightness(0) invert(1);
        // }
      }
    }

    li:first-child {
      a {
        border-top: 1px solid #e0e0e0;
      }
    }
  }

  &--link-indicator {
    li {

      a {
        &:after {
          content: '';
          background: var(--icon-internal-link) no-repeat;
          padding-right: 1.5rem;
          height: 1.3rem;
        }

        &[href^="http"]:after {
          background: var(--icon-external-link) no-repeat;
        }
      }

      &:hover a {
        &:after {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
